
<th:block th:fragment="modalDeposit">
    <div class="modal fade" id="modalDeposit">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Deposit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="error-area mb-3 hide"></div>
                    <form id="formDeposit" method="post">
                        <div class="row mb-3">
                            <div>
                                <label for="idDeposit">ID</label>
                                <input type="text" name="idDeposit" id="idDeposit" class="form-control" readonly>
                            </div>
                            <div class="col-lg-6">
                                <label for="fullNameDeposit">Full Name</label>
                                <input type="text" name="fullNameDeposit" id="fullNameDeposit" class="form-control" readonly>
                            </div>
                            <div class="col-lg-6">
                                <label for="emailDeposit">Email</label>
                                <input type="text" name="emailDeposit" id="emailDeposit" class="form-control" readonly>
                            </div>
                            <div class="col-lg-6">
                                <label for="balanceDeposit">Balance</label>
                                <input type="text" name="balanceDeposit" id="balanceDeposit" class="form-control" readonly>
                            </div>
                            <div class="col-lg-6">
                                <label for="amountDeposit">Transaction Amount (VND)</label>
                                <input type="text" name="amountDeposit" id="amountDeposit" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btnDeposit" id="btnDeposit">Deposit</button>
                </div>
            </div>
        </div>
    </div>
</th:block>